<h1>Le tableau comporte
	{{authors | length}}
	auteurs
</h1>

{% if authors is empty or authors is not defined %}
	<h2>Verifier votre tableau</h2>
{% else %}
	<a href="{{ path('author_insertAuthor')}}">Ajouter un nouveau auteur</a>
	<table border="1">
		<tr>
			<th>Identifiant</th>
			<th>Auteur</th>
			<th>Email de l'auteur</th>
			{# <th>Photo</th> #}
			<th>Nombre de livre</th>
			<th colspan="3">Actions</th>
			
		</tr>
		{% set l=0 %}
		{% for author in authors %}
			<tr>
				<td>{{author.id }}</td>
				<td>{{author.username | upper}}</td>
				<td>{{author.email}}</td>
				{# <td><img src="{{author.picture}}" width="150"></td> #}
				<td>{{author.nbBooks}}
					Livres</td>
				{% set l=l+author.nbBooks %}
				<td>
					<a href="{{path('author_getAuthor', {'id': author.id })}}">Details</a>
				</td>
				<td>
					<a href="{{path('author_updateAuthor', {'id': author.id })}}">Edit</a>
				</td>
				<td>
					<a href="{{path('author_deleteAuthor', {'id': author.id })}}">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	<h1>Le nombre de livres de tous les auteurs=
		{{l}}
	</h1>
{% endif %}