<h2>Details du livre</h2>
<h4>Réference: {{book.ref}} </h4>
<h4>Titre: {{book.title}} </h4>
<h4>Date de publication : {{book.publishDate ? book.publishDate|date('Y-m-d') : 'N/A'}} </h4>
<h4>Categorie: {{book.category}} </h4>
<h4>Nom de l'auteur: {{book.author.username}} </h4>